h2{
   text-align: center;
   margin: auto;
   font-family:'Manrope', sans-serif;
   

}

main .about {
    width: 200px;
    margin: 0 auto;
    padding: 5px;

}
.about-wrapper{
    margin:50px;
}

.about p {
    font-size: .8em;
    text-align: left;
    font-family:'Manrope', sans-serif;
    
}
p{
    font-size: 1.3em;
    text-align: center;
    font-family:'Manrope', sans-serif;
  
}
.tmdb{
  width: 60px;
  margin-left: 60px;
}
.tmdb-info{
    font-size: 8px;
}

@media(min-width:700px){
    main .about {
        width: 450px;
        
    
    }
    .about-wrapper{
        margin-bottom: 10px;
    
    }
    .about p {
        font-size: 1.5em;
        text-align: left;
        font-family:'Manrope', sans-serif;
        
    }
    
    .tmdb{
        margin-left:180px;
        margin-top: 20px;
        
       
    }
    .tmdb-info{
        margin-bottom: 180px;
    }
} 
@media(min-width:1024px){
    main .about {
        width: 600px;
       
        
    
    }
   
    .about p {
        font-size: 1.7em;
        text-align: left;
        font-family:'Manrope', sans-serif;
        
    }
    
    .tmdb{
        margin-left:180px;
        
       
    }
    .tmdb-info{
        margin-bottom: 530px;
    }
} 

