h2{
   text-align: center;
   margin: auto;
   font-family:'Manrope', sans-serif;
   

}

main .about {
    width: 300px;
    margin: 0 auto;

}
.about-wrapper{
    margin: 67px;
}

.about p {
    font-size: 1em;
    text-align: left;
    font-family:'Manrope', sans-serif;
    
}
p{
    font-size: 1.3em;
    text-align: center;
    font-family:'Manrope', sans-serif;
  
}
.tmdb{
  width: 90px;
  margin-left: 100px;
}
.tmdb-info{
    font-size: 8px;
}

@media(min-width:900px){
    main .about {
        width: 450px;
        
    
    }
    .about-wrapper{
        margin: 95px;
    }
    
    .tmdb{
        margin-left:150px;
    }
} 