footer {
    padding: 0;
    background-color: rgba(124, 11, 189, 0.5);
     p {
        &:first-child {
            margin-top: 0;  
            text-align: center; 
        }
    }
        &:last-child {
            margin-bottom: 0;
        }

    a {
        color: yellow;
}

}