footer {
    padding: 10px;
    background-color:black;
    margin-bottom: 0;
    width: 100%;

     p {
        &:first-child {
            margin-top: 0;  
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color:white;
            font-size: 1em;
           margin-left: 400px;
        }
    }
        &:last-child {
            margin-bottom: 0;
        }

}