footer {
    padding: 0;
    background-color: rgba(7, 7, 7, 0.301);

     p {
        &:first-child {
            margin-top: 0;  
            text-align: center; 
        }
    }
        &:last-child {
            margin-bottom: 0;
        }

}