header {
    background-color: rgba(76, 143, 231, 0.568);
    padding: 0;
    h1 {
        // @include flatten;
       display: flex;
       margin: 10px;
       
    }
    a {
        text-decoration: none;
        color: rgb(31, 51, 235);
        font-size: 30px;
        padding: 10px;

    }
}