header {
   background-color: rgba(7, 7, 7, 0.418);
    padding: 0; 

    h1 {
        // @include flatten;
      
       margin: 10px;
       margin-top: -7px;
       font-family: cursive;
       
    }
    a {
        text-decoration: none;
        color:#581845 ;
        font-size: 50px;
        font-weight: bolder;
        padding: 10px;

    }
}