
.hamburger {
    margin-left: auto;
    @media (min-width: 700px){
        display: none;
    }
}

nav {
    margin: 0;
    width: 100%;

    &.closed {
        display: none;
    }

    &.open {
        display: block;
    }

    @media (min-width: 700px){
        &.closed {
            display: block;
        }
    }

}

// @media(min-width:1200px){

    
// .hamburger {
//    display: none;
// }
// }
