.title{
   font-weight: bold;
   font-size: 1.3em;
   margin: 20px ;
}

.movie-info{
   margin-top: 20px;
   }

.twelve-movie-grid {
   text-align: center;
   display: grid;
   grid-column-gap: 40px;
   grid-template-columns: auto auto auto ;
   margin: 0 auto;
   padding: 10px;

 

}   

img.poster {
   width: 300px;
}

.movies-list{
   margin: 0 auto;
   text-align: center;
}
.fav{
   margin-left: 20px;
}
.link-to-moreinfo{
   margin-right: 60px;
}