
.title{
   font-weight: bold;
   font-size: 1.2em;
   font-family:'Manrope', sans-serif;
   margin: 10px ;
}


.twelve-movie-grid {
   text-align: center;
   margin:  auto;
    

}   

img.poster {
   width: 210px;
   margin:auto;
   border: 2px solid rgb(63, 11, 52);
}

.movies-list{
   margin: 0 auto;
   text-align: center;
  
}
.fav{
   margin: 0 auto;
   
}
.more-info:hover{
   background-color: rgba(0, 0, 0, 0.774);
}
.link-to-moreinfo{
   margin: 0 auto;
   
}

.release-date {
   font-size: 0.9em;
   margin-bottom: 10px;
   font-family:'Manrope', sans-serif;
}

// Tablet view 

@media(min-width:700px) {
   
   .twelve-movie-grid {
      text-align: center;
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: auto auto auto ;
      margin: 0 auto;
      padding: 10px;
   
    
   
   }  

   img.poster {
      width: 270px;
      margin:auto;
   }
   
}
.add-fav:hover{
   background-color: rgba(0, 0, 0, 0.774);
}
.remove-fav:hover{
   background-color: rgba(0, 0, 0, 0.774);
  
}
// Desktop View

@media(min-width:1024px)  {

   .twelve-movie-grid {
      text-align: center;
      display: grid;
      grid-column-gap: 200px;
      grid-template-columns: auto auto auto ;
      margin-right: 20px;
   
   
   }  
   
}

