 nav {
    background-color:rgba(181, 181, 219, 0.384);
    
 }
    ul {
        // @include flatten(true, false);
        display: flex;
    }
    li {
        flex: 1;
        list-style-type: none;
    }
    a {
        display: block;
        text-decoration: none;
        color: blue;
        line-height: 42px;
        text-align: center;
        &:hover, &:focus, &:active {
            background-color: rgba(rgb(235, 139, 139), 0.3);
        }
    }
