//single movie page

.single-movie-section {
    margin: 20px;
}
.single-movie{
    margin: 0 auto;
    text-align: center;

    margin-bottom: 20px;
    
}
.single-info {
    text-align: left;
    margin: 5px;
}
.single-summary {
    font-size: 0.9em;
    font-family:'Manrope', sans-serif;
    margin: 0;
   text-align: justify;
    
    
}

.run-time {
    
    font-size: 0.8em;
    margin-top: 10px;
    font-family:'Manrope', sans-serif;
}
.single-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family:'Manrope', sans-serif;
}
button.single-fav {
    margin: 0;
    
}

.poster-and-button{
   flex: 0 0 300px;
    

}
img.single-poster {
    width: 300px ;
}
.add-fav:hover{
    background-color: rgba(0, 0, 0, 0.774);
 }
 .remove-fav:hover{
    background-color: rgba(0, 0, 0, 0.774);
   
 }
// Tablet view 

@media(min-width:700px){
    .single-movie{
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        
    }
    img.single-poster {
        width: auto ;
    }
    .single-info {
    margin-left:30px;
    }
    .single-summary {
        font-size: .09em; 
    }

    .run-time {
        
        font-size: 0.9em;  
    }
    img.single-poster{
        width: auto ;
        margin: 10px;
    }
    
}

// Desktop View

@media(min-width:900px) {
  
  
    img.single-poster {
        width: auto ;
    }
  
    .single-summary {
        font-size: .9em; 
    }


}
@media(min-width:1024px){
    .single-info{
        margin-bottom:820px;
        
    }
}

